

@media (max-width:1199px) {
   
    .parallax:not(.parallax-main){
        background-size: 50%;
    }
    .main-wrapper .black-card{
        width: 100%;
    }
    .main-wrapper {
        margin-top: 39vh;
    }
   
}


@media (max-width:991.5px) {

   
    .banner-wrapper {
        margin-top: 4rem;
        padding:4rem 2rem;
        min-height:730px;
    }
  
    .main-wrapper .black-card {
        left: -226px !important ;
    }    
    .main-wrapper .black-card.right {
       /* right: -226px !important ; */
       left: 241px !important;
    }    

   
    .parallax-main{
        background-size:cover;
    }

   
    .main-wrapper {
        margin-top: 39vh;
    }

}


@media (max-width:767.5px) {

     /* banner */
     .banner-wrapper {
        min-height:550px;
    }
 
    .main-wrapper .black-card{
        left: 5%;
        width: 90%;
    }
    .main-wrapper .black-card.right{
        left: 5% !important;
        width: 90%;
    }

   
    .parallax:not(.main-parallax) {
        background-size:cover;
    }
    .parallax-1{
        background-size: cover;
    }

}


@media (max-width:590px) {

  
    body,
    html {
        font-size: 7px;
    }
    .parallax.img2,
    .parallax.img3,
    .parallax.img4,
    .parallax.img5{
        height: 262px !important;
    }
    .main-wrapper {
        margin-top: 21vh !important;
    }
    .main-wrapper .black-card{
        left: 5% !important;
        width: 90%;
    }
    .main-wrapper .black-card.right{
        left: 5% !important;
        width: 90%;
    }

}

/* Media Query 380px */
@media (max-width:390.4px) {
    h1{
        font-size: 27px;
    }
    h2{
        font-size: 25px;
    }
}